*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    transform: scale(0.8);
    position: absolute;
    top:0
}

header{
    height: 50vh;
}

table{
    display: inline-table;
    width: 100%;;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.wrapper >table{
    max-width: 1000px;
}

.wrapper-tabla {
    width: 100%;
    height: auto;
    display: flex; 
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    align-items: center;
}


.bloke{
    width: 760px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 38px;
    transition: max-height 0.7s ease-in-out;
}

.bloke > .tituloTabla:hover{
    color:lightslategray;
    cursor: pointer;
}

.bloke > table{
    background-color: white;
}

.bloke > table > tr >td{
    padding: 2px;
    border: black 1px solid;
    min-width: 44px;
    min-height: 26px;
}



.td-head{
    font-weight: 1000;
}

.td-nota {
    text-align: center;
}



