*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bloke{
    width: 600px;
    display: flex;
    flex-direction: column;
}



td{
    padding: 2px;
    border: black 2px solid;
    margin:0;
    min-width: 44px;
}

table{
    display: inline-table;
    transition: 1s all ease;
    width: 100%;
    border: black 2px solid;
    transition: visibility 0s, opacity 0.5s linear;
}


.wrapper{
    display: flex;
    flex-direction: column;
    
}

.wrapper-tabla {
    width: 100%;
    height: auto;
    display: flex; 
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.td-nota {
    text-align: center;
}

.td-head{
    font-weight: 1000;
}
